<form #userForm="ngForm" style="padding-right: 5%; padding-left: 5%;" (ngSubmit)="Save(userForm)">
  <div class="card" style="width: 100%; margin-top: 2rem; background-color:#edf2f6; border-radius: 10px; min-height: 40rem;">
    <div class="card-header"><b>Mantenimiento de usuario</b></div>

    <div class="card mb-4 mt-4" style="margin: 0 1rem;">
      <ul class="nav">
        <button type="submit" class="btn-toolbar">
          <a class="nav-link text-toolbar">Guardar</a>
        </button>

        <button type="button" class="btn-toolbar" (click)="Clear(userForm)">
          <a class="nav-link text-toolbar">Limpiar</a>
        </button>

        <button type="button" class="btn-toolbar" (click)="Back()">
          <a class="nav-link text-toolbar">Volver</a>
        </button>
      </ul>
    </div>

    <div class="card-body" *ngIf="!loading">
      <div class="row pb-2 pr-2">
        <div class="col-lg-2">Tipo de documento</div>
        <div class="col-lg-4">
          <ng-select
            placeholder="Seleccione"
            class="ng-select-solid"
            name="documentTypeId"
            [(ngModel)]="model.documentTypeId"
            required>
            <ng-option *ngFor="let dt of documentTypes" [value]="dt.documentTypeId">
  			{{ dt.documentTypeDescription }}
			</ng-option>
          </ng-select>
        </div>

        <div class="col-lg-2">Número de documento</div>
        <div class="col-lg-4">
          <input
            type="text"
            class="form-control form-control-sm"
            name="documentNumber"
            [(ngModel)]="model.documentNumber"
            [readonly]="isEdit"
            required />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Nombre</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="model.name" required />
        </div>

        <div class="col-lg-2">Apellido Paterno</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="fathersLastName" [(ngModel)]="model.fathersLastName" required />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Apellido Materno</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="mothersLastName" [(ngModel)]="model.mothersLastName" required />
        </div>

        <div class="col-lg-2">Dirección</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="address" [(ngModel)]="model.address" required />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Ubigeo</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="ubigeoCode" [(ngModel)]="model.ubigeoCode" required />
        </div>

        <div class="col-lg-2">Teléfono</div>
        <div class="col-lg-4">
          <input type="text" class="form-control form-control-sm" name="phone" [(ngModel)]="model.phone" required />
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-lg-2">Correo</div>
        <div class="col-lg-4">
          <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="model.email" required />
        </div>

        <div class="col-lg-2">Contraseña</div>
        <div class="col-lg-4">
          <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="model.password" required />
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="loading">
      Cargando...
    </div>
  </div>
</form>
